.penguin-card{
    border: 0;
}
.penguin-card-footer{
    border: 0;
    background-color: white;
}
.categories img{
    width: 100px;
}
.top-content{
    background-color: blue;
}
}
.categories img{
    width: 100px;
}
.panda-slide .carousel-item{
    background-color: rgb(254,234,233);
    border-radius: 1em;
}