body {
    font-family: 'Ubuntu', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
.top-content {
    width: 100%;
    height: auto;
    background-color:#fffbf0;
   
}
h1 {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}
.custom-btn {
    color: white;
    background-image: linear-gradient(#e2563d, #e64242);
}
.custom-color {
    color: #fa804c;
}
.custom-card {
    border: 50px solid white;
    border-radius: 10px;
}
.custom-card-footer {
    border: 0;
    background: white;
}
.card-img-top {
    width: 100%;
    height: 350px;
    background-color:#f1f1f1;
    padding: 20px;
    border-radius: 10px;
}

.service-section img {
    width: 100%;
}
.service-box {
    height: 170px;
    width: 100%;
    background: white;
    border-radius: 10px;
}
.service-image img {
    width: 70px;
}
